@model HRnew.Models.EmployeeRegistration

@{
    ViewData["Title"] = "EmployeeRegistration";
    Layout = "~/Views/Shared/_Layout_HR.cshtml";
}

<h4>Employee Registration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EmployeeRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Picture" class="control-label"></label>
                <input asp-for="Picture" class="form-control" />
                <span asp-validation-for="Picture" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicturePath" class="control-label"></label>
                <input asp-for="PicturePath" class="form-control" />
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpUsername" class="control-label"></label>
                <input asp-for="EmpUsername" class="form-control" />
                <span asp-validation-for="EmpUsername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpPassword" class="control-label"></label>
                <input asp-for="EmpPassword" class="form-control" />
                <span asp-validation-for="EmpPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DesignationId" class="control-label"></label>
                <input asp-for="DesignationId" class="form-control" />
                <span asp-validation-for="DesignationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DepartmentId" class="control-label"></label>
                <input asp-for="DepartmentId" class="form-control" />
                <span asp-validation-for="DepartmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HireDate" class="control-label"></label>
                <input asp-for="HireDate" class="form-control" />
                <span asp-validation-for="HireDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpName" class="control-label"></label>
                <input asp-for="EmpName" class="form-control" />
                <span asp-validation-for="EmpName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpIdno" class="control-label"></label>
                <input asp-for="EmpIdno" class="form-control" />
                <span asp-validation-for="EmpIdno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmpGender" class="control-label"></label>
                <input asp-for="EmpGender" class="form-control" />
                <span asp-validation-for="EmpGender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactAddress" class="control-label"></label>
                <input asp-for="ContactAddress" class="form-control" />
                <span asp-validation-for="ContactAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNumber" class="control-label"></label>
                <input asp-for="ContactNumber" class="form-control" />
                <span asp-validation-for="ContactNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dob" class="control-label"></label>
                <input asp-for="Dob" class="form-control" />
                <span asp-validation-for="Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                <input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodGroup" class="control-label"></label>
                <input asp-for="BloodGroup" class="form-control" />
                <span asp-validation-for="BloodGroup" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="RegBy" class="control-label"></label>
                <input asp-for="RegBy" class="form-control" />
                <span asp-validation-for="RegBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifiledBy" class="control-label"></label>
                <input asp-for="ModifiledBy" class="form-control" />
                <span asp-validation-for="ModifiledBy" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

